@import 'variables.scss';

body {
  font-size: 14px;
  font-family: "Arial Sans Serif";
}

body, h1, h2, h3 {
  color: #333123;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.ngView {
  line-height: 20px;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-toolbar.layout-row{
  background: $yellow;
}

md-sidenav {
  position: static;

  @media screen and (min-width: $break-large){
    width: 320px !important;
    min-width: 320px !important;
    max-width: 320px !important;
  }

  @media screen and (min-width: $break-small) and (max-width: $break-large){
    width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;

    .menu-label {
      display: none;
    }
  }

  @media screen and (max-width: $break-mobile){
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

md-sidenav.md-locked-open {

  @media screen and (min-width: $break-small) and (max-width: break-large){
    width: 180px !important;
    min-width: 180px !important;
    max-width: 180px !important;
  }
}

header.nav-header {
  text-align: center;
  background-color: $greymedium;
}

.btn-row {
  padding-top: 30px;
  text-align: center;
}

.btn-toggle {
  display: inline-block;
}

.md-sidenav-left{

  .sidenav-item {
    padding: 20px;
    border-bottom: 3px $greymedium solid;
    color: black;

    &:hover {
      background-color: $yellow;
    }

    &:focus {
      outline: none;
    }
  }

  a {
    color: $black;
    font-weight: 700;
  }
}

a {
  color: $link;
  text-decoration: none;

  &.topbar-logo {
    margin: auto;
    img {
      width: 40px;
      height: 40px;
    }
  }
  &.site-logo {
    margin: auto;
  }
}

svg.user-avatar {
  border-radius: 100%;
}

/*-- booking.html --*/

.booking-icons {
  width: 100%;
  max-width: 350px;
  height: initial;
  max-height: 350px;
}

.bookingData {
  
  @media screen and (max-width: $break-large) {
    display: none;
    padding: 10px 0;
  }
}

.showWasher {
    @media screen and (max-width: $break-large) {
      display:inline-block;
      width: 30px;
      height: 30px;
    }
    @media screen and (min-width: $break-large) {
      display: none
    }

}

span.day-label {
  display: inline-block;
  padding-left: 5px;
  width: 180px;
}

.hour-label, .hour-cell {
  border-top: 2px solid black;
}

.hour-label {
  vertical-align: 75%;
  font-weight: 700;
}

.hour-cell {
  display: inline-block;
  width: 180px;
  border-right: 2px solid $greymedium;

  span {
    &:focus {
      outline-color: $mustard !important;
    }
  }
}

.cell-label {
  padding: 5px 10px 20px 0px;
}

tr.cell-row {
  padding-bottom: 10px;
  border-bottom: 2px solid $black
}

table#table {
  border: 3px solid $greylight;
  border-radius: 10px;
  width: 100%;

    tr {
      background-color: $greymedium;
    }
}

.showingNewBooking {
  padding: 10px;
  background-color: $greylight;

}

div.pagination {
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}

/*-- notification --*/
.sidenav-btn {
  position: fixed;
  right: -95px;
  top: -6px;
  height: 64px;
  min-width: 35px;
  z-index: -1;
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  background: $yellow;
}

.sidenav-btn-topbar {
    position: fixed;
    left: -20px;
    height: 64px;
    width: 35px;
    border-radius: 0 90px 90px 0;
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius: 0 90px 90px 0;
    background: $yellow;
    border-bottom: 2px solid $black;
    border-top: 2px solid $black;
    border-right: 2px solid $black;
}

.notification, .notifications-bar {
  background-color: $greymedium;
  margin-bottom: 3px;

  md-checkbox {
    background-color: transparent;
  }
}

.notifications-bar {
  background-color: $greydark;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
}


/*-- Buttons --*/

.md-button {
  margin: 6px 8px 6px 0px;
}

.md-icon-button{
  position: absolute;
  top: 10px;
  left: 20px;

  @media screen and (min-width: $break-small){
    display: none;
  }
}

a.md-button.md-primary.md-raised, a.md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised, .md-primary {
  background-color: $yellow;

  &:hover {
    background-color: $yellow;
  }
}

md-checkbox {
  background-color: $greydark;
  padding: 10px;
  border-radius: 5px;

  .md-container {
    left: 5px;
  }
}

.back-btn {
  background: url("/src/img/arrow-left-small.png") -17px no-repeat;
  background-size: 60px;
  padding-left: 25px;
}
.forward-btn {
  background: url("/src/img/arrow-right-small.png") 90px no-repeat;
  background-size: 60px;
  padding-right: 25px;
}


/*-- Scrollbar --*/
/*::-webkit-scrollbar {
    width: 12px;
    background-color: $yellow;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/