@import 'variables.scss';

body {
  font-size: 14px;
  font-family: "Arial Sans Serif";
}

body, h1, h2, h3 {
  color: #333123;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-toolbar.layout-row{
  background: $yellow;
}

md-sidenav.md-locked-open {
  width: 190px !important;
  min-width: 180px !important;
  max-width: 180px !important;
}

header.nav-header {
  text-align: center;
  background-color: $greymedium;
}

.btn-row {
  padding-top: 30px;
  text-align: center;
}

.btn-toggle {
  display: inline-block;
}

.md-sidenav-left{

  .sidenav-item {
    padding: 20px;
    border-bottom: 3px $greymedium solid;
    color: black;

    &:hover {
      background-color: $yellow;
    }

    &:focus {
      outline: none;
    }
  }

  a {
    color: $black;
    font-weight: 700;
  }
}

a {
  color: $link;
  text-decoration: none;

  &.topbar-logo {
    margin: auto;
    img {
      width: 40px;
      height: 40px;
    }
  }
  &.site-logo {
    margin: auto;
  }
}

svg.user-avatar {
    border-radius: 100%;
}

.booking-icons {
  width: 100px;
  height: 100px;
}

span.day-label {
    display: inline-block;
    padding-left: 5px;
    width: 180px;
}

span.hour-label {
    vertical-align: top;
}

span.hour-cell {
    display: inline-block;
    width: 180px;
    border-style: double;
    border-color: $yellow;

    span {
      &:focus {
        outline-color: $mustard !important;
      }
    }
}

div.cell-label {
    padding: 5px 10px;
}

.cell-row {
    padding-bottom: 10px;
}



/*-- Buttons --*/

button.md-raised.md-primary.md-button.md-ink-ripple {
  background-color: $yellow;

  &:hover {
    background-color: $yellow;
  }
}