/* Screen */
/* Colors */
/* h1, h2, h3, link-color */
body {
  font-size: 14px;
  font-family: "Arial Sans Serif"; }

body, h1, h2, h3 {
  color: #333123; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 16px; }

.ngView {
  line-height: 20px; }

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit; }

md-toolbar.layout-row {
  background: #FFD200; }

md-sidenav {
  position: static; }
  @media screen and (min-width: 1280px) {
    md-sidenav {
      width: 320px !important;
      min-width: 320px !important;
      max-width: 320px !important; } }
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    md-sidenav {
      width: 100px !important;
      min-width: 100px !important;
      max-width: 100px !important; }
      md-sidenav .menu-label {
        display: none; } }
  @media screen and (max-width: 480px) {
    md-sidenav {
      width: 100%;
      min-width: 100%;
      max-width: 100%; } }

@media screen and (min-width: 768px) and (max-width: break-large) {
  md-sidenav.md-locked-open {
    width: 180px !important;
    min-width: 180px !important;
    max-width: 180px !important; } }

header.nav-header {
  text-align: center;
  background-color: #F9F9F9; }

.btn-row {
  padding-top: 30px;
  text-align: center; }

.btn-toggle {
  display: inline-block; }

.md-sidenav-left .sidenav-item {
  padding: 20px;
  border-bottom: 3px #F9F9F9 solid;
  color: black; }
  .md-sidenav-left .sidenav-item:hover {
    background-color: #FFD200; }
  .md-sidenav-left .sidenav-item:focus {
    outline: none; }
.md-sidenav-left a {
  color: #000000;
  font-weight: 700; }

a {
  color: #153785;
  text-decoration: none; }
  a.topbar-logo {
    margin: auto; }
    a.topbar-logo img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      left: 50%; }
  a.site-logo {
    margin: auto; }

svg.user-avatar {
  border-radius: 100%; }

/*-- booking.html --*/
.booking-icons {
  width: 100%;
  max-width: 350px;
  height: initial;
  max-height: 350px; }

@media screen and (max-width: 1280px) {
  .bookingData {
    display: none;
    padding: 10px 0; } }

@media screen and (max-width: 1280px) {
  .showWasher {
    display: inline-block;
    width: 30px;
    height: 30px; } }
@media screen and (min-width: 1280px) {
  .showWasher {
    display: none; } }

span.day-label {
  display: inline-block;
  padding-left: 5px;
  width: 180px; }

.hour-label, .hour-cell {
  border-top: 2px solid black; }

.hour-label {
  vertical-align: 75%;
  font-weight: 700; }

.hour-cell {
  display: inline-block;
  width: 180px;
  border-right: 2px solid #F9F9F9; }
  .hour-cell span:focus {
    outline-color: #ECB50F !important; }

.cell-label {
  padding: 5px 10px 20px 0px; }

table#table {
  border: 3px solid #FAFAFA;
  border-radius: 10px;
  width: 100%; }
  table#table tr {
    background-color: #F9F9F9; }

.showingNewBooking {
  padding: 10px;
  background-color: #FAFAFA; }

div.pagination .left {
  float: left; }
div.pagination .right {
  float: right; }

/*-- notification --*/
.sidenav-btn {
  position: fixed;
  right: -95px;
  top: -6px;
  height: 64px;
  min-width: 35px;
  z-index: -1;
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  background: #FFD200; }

.sidenav-btn-topbar {
  position: fixed;
  left: -20px;
  height: 64px;
  width: 35px;
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  background: #FFD200;
  border-bottom: 2px solid #000000;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000; }

.notification, .notifications-bar {
  background-color: #F9F9F9;
  margin-bottom: 3px; }
  .notification md-checkbox, .notifications-bar md-checkbox {
    background-color: transparent; }

.notifications-bar {
  background-color: #E0E0E0;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700; }

/*-- Buttons --*/
.md-button {
  margin: 6px 8px 6px 0px; }

.md-icon-button {
  position: absolute;
  top: 10px;
  left: 20px; }
  @media screen and (min-width: 768px) {
    .md-icon-button {
      display: none; } }

a.md-button.md-primary.md-raised, a.md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised, .md-primary {
  background-color: #FFD200; }
  a.md-button.md-primary.md-raised:hover, a.md-button.md-primary.md-raised:not([disabled]):hover:hover, .md-button.md-primary.md-raised:hover, .md-primary:hover {
    background-color: #FFD200; }

md-checkbox {
  background-color: #E0E0E0;
  padding: 10px;
  border-radius: 5px; }
  md-checkbox .md-container {
    left: 5px; }

.back-btn {
  background: url("/src/img/arrow-left-small.png") -17px no-repeat;
  background-size: 60px;
  padding-left: 25px; }

.forward-btn {
  background: url("/src/img/arrow-right-small.png") 90px no-repeat;
  background-size: 60px;
  padding-right: 25px; }

/*-- Scrollbar --*/
/*::-webkit-scrollbar {
    width: 12px;
    background-color: $yellow;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

/*# sourceMappingURL=style.css.map */
