/* Colors */

$bluedarkest: #07215B;
$bluedarker: #153785;
$bluedark: #3F5298;
$yellow: #FFD200;
$mustard: #ECB50F;
$greydarkest: #333123;
$greydarker: #E7E7E7;
$greydark: #E0E0E0;
$greymedium: #F9F9F9;
$greylight: #FAFAFA;
$green: #4CAF50;
$orangedark: #F57C00;
$orangemedium: #FF9800;
$orangelight: #FFE0B2;
$black: #000000;
$white: #FFFFFF;


/* h1, h2, h3, link-color */
$link: #333123;