<div class="row">
    <div class="col-md-12">
        <h4 class="md-display-1">Min lägenhet</h4>
        <div>
            <a href ng-click="selectApartmentView('apartment')">Min lägenhet</a>
            <a href ng-click="selectApartmentView('bills')">Fakturor</a>
            <a href ng-click="selectApartmentView('account')">Lägenhetskonto</a>
            <a href ng-click="selectApartmentView('house')">Om mitt hus</a>
            <a href ng-click="selectApartmentView('research')">Pågående forskning</a>
        </div>
    </div>
    <div ng-show="apartmentView == 'apartment'">
        <div>
            Lägenhetsnummer
        </div>
        <div>
            Bostadsrättsförening
        </div>
        <div>
            Välkomnstbrevet från min inflytt<br />
            <a href='info/letter.pdf' target='_blank'></a>
        </div>
        <div>
            Mitt avtal
        </div>
    </div>
</div>
<div layout="row" flex="100" ng-controller="LineCtrl">
    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" 
    chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
</div>