<h1 class="md-display-1">Category:{{bookingCategory}} Resource:{{bookingResource}}</h1>

<div ng-show="bookingResource == 'none'">
    <div ng-show="bookingCategory == 'none'">
        <div class="row">
            <div class="col-md-12">
                Select the service, tool or shared space you would like to book
            </div>
        </div>
        <div class="col-md-1">
            <div layout="row" layout-wrap>
                <div class="col-md-4">
                    <md-button href ng-click="selectBookingResource('laundry')" class="md-raised">
                        <img src="src/img/icons/washing_machine_icon.png" class="booking-icons">
                        <div><span>Tvättstuga</span></div>
                    </md-button>
                </div>
                <div class="col-md-4">
                    <md-button href ng-click="selectBookingCategory('spaces')" class="md-raised">
                        <img src="src/img/icons/Shared_Spaces_icon.png" class="booking-icons">
                        <div><span>Platser</span></div>
                    </md-button>
                </div>
                <div class="col-md-4">
                    <md-button href ng-click="selectBookingCategory('tools')" class="md-raised">
                        <img src="src/img/icons/tools_icon.png" class="booking-icons">
                        <div><span>Verktyg</span></div>
                    </md-button>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <div layout="row" layout-wrap>
                <div class="col-md-4">
                    <md-button href ng-click="selectBookingCategory('services')" class="md-raised">
                        <img src="src/img/icons/Services_Icon.png" class="booking-icons">
                        <div><span>Service</span></div>
                    </md-button>
                </div>
                <div class="col-md-4">
                    <md-button href ng-click="selectBookingCategory('vehicles')" class="md-raised">
                        <img src="src/img/icons/Services_Icon.png" class="booking-icons">
                        <div><span>Fordon</span></div>
                    </md-button>
                </div>
                <div class="col-md-4">
                    <md-button href ng-click="selectBookingCategory('others')" class="md-raised">
                        <img src="src/img/icons/Services_Icon.png" class="booking-icons">
                        <div><span>Övrigt</span></div>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="bookingCategory == 'spaces'">
        <div class="row">
            <div class="col-md-12">
                <md-button href ng-click="selectBookingCategory('none')" class="md-raised back-btn">
                    BACK TO MAIN
                </md-button><br />
                You have selected spaces, select a category
            </div>
        </div>
        <div layout="row" layout-wrap>
            <div class="col-md-4">
                <md-button href ng-click="selectBookingResource('gym')" class="md-raised">
                    <img src="src/img/icons/Gym_icon.png" class="booking-icons">
                    <div><span>Gym</span></div>
                </md-button>
            </div>
            <div class="col-md-4">
                <md-button href ng-click="selectBookingResource('sauna')" class="md-raised">
                    <img src="src/img/icons/Sauna_icon.png" class="booking-icons">
                    <div><span>Sauna</span></div>
                </md-button>
            </div>
            <div class="col-md-4">
                <md-button href ng-click="selectBookingResource('workshop')" class="md-raised">
                    <img src="src/img/icons/Workshop_icon.png" class="booking-icons">
                    <div><span>Workshop</span></div>
                </md-button>
            </div>
        </div>
        <div layout="row" layout-wrap>
            <div class="col-md-4">
                <md-button href ng-click="selectBookingResource('barbeque')" class="md-raised">
                    <img src="src/img/icons/barbecue_icon.png" class="booking-icons">
                    <div><span>Barbeque</span></div>
                </md-button>
            </div>
            <div class="col-md-4">
                <md-button href ng-click="selectBookingResource('kitchen')" class="md-raised">
                    <img src="src/img/icons/Kitchen_Icon.png" class="booking-icons">
                    <div><span>Kitchen</span></div>
                </md-button>
            </div>
            <div class="col-md-4">
                <md-button href ng-click="selectBookingResource('kids')" class="md-raised">
                    <img src="src/img/icons/Kids_playroom_icon.png" class="booking-icons">
                    <div><span>Kids playroom</span></div>
                </md-button>
            </div>
        </div>
    </div>
    <div ng-show="bookingCategory == 'tools'">
        <div class="row">
            <div class="col-md-12">
                <md-button href ng-click="selectBookingCategory('none')" class="md-raised back-btn">BACK TO MAIN</md-button><br />
                You have selected tools, select a category
            </div>
        </div>
    </div>
    <div ng-show="bookingCategory == 'services'">
        <div class="row">
            <div class="col-md-12">
                <md-button href ng-click="selectBookingCategory('none')" class="md-raised back-btn">BACK TO MAIN</md-button><br />
                You have selected services, select a category
            </div>
        </div>
    </div>
    <div ng-show="bookingCategory == 'vehicles'">
        <div class="row">
            <div class="col-md-12">
                <md-button href ng-click="selectBookingCategory('none')" class="md-raised back-btn">BACK TO MAIN</md-button><br />
                You have selected vehicles, select a category
            </div>
        </div>
    </div>
    <div ng-show="bookingCategory == 'others'">
        <div class="row">
            <div class="col-md-12">
                <md-button href ng-click="selectBookingCategory('none')" class="md-raised back-btn">BACK TO MAIN</md-button><br />
                You have selected others, select a category
            </div>
        </div>
    </div>
</div>
<div ng-show="bookingResource != 'none'">
    <div class="row">
        <div class="col-md-12">
            <md-button href ng-click="selectBookingResource('none')" class="md-raised back-btn">BACK</md-button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            IMAGES
        </div>
        <div class="col-md-6">
            ITEM NAME & DESCRIPTION
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span>ESTABLISH THE PERIOD OF YOUR BOOKING</span>
            <div class="pagination">
                <md-button ng-click="showWeek(-1)" class="md-raised left back-btn">Föregående vecka</md-button>
                <md-button ng-click="showWeek(1)" class="md-raised right forward-btn">Nästa vecka</md-button>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="width:100%;overflow:auto;">
        <table flex="100" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
                <td style="display:inline-block; width:100px;">Tid/Dag</td>
                <td data-ng-repeat="d in weekdays" class="day-label">
                    {{ d }} {{ weekDates[$index] }}
                </td>
            </thead>
            <tbody>
                <tr class="cell-row" data-ng-repeat="s in bookingData.slots">
                    <div>
                        <td class="mdl-data-table__cell--non-numeric">{{s.name}}</td>
                        <td class="mdl-data-table__cell--non-numeric" data-ng-repeat="d in weekdays" >
                            <span ng-click="bookUnit($index, s.slotId)">
                                <!-- $index is day, s.slotId is slot -->
                                {{ vacancies = getVacancies($index, s.slotId); "" }}
                                <div data-ng-repeat="t in bookingData.unitTypes" class="cell-label">
                                    <span class="bookingData">{{ bookingData.bookingFormat(t, vacancies) }}</span>
                                    <!--<span class="showWasher"></span>-->
                                    <!--<span class="showDryer"></span>-->
                                    <span class="showWasher">
                                    {{ vacancies[t.typeId][0].length + '+' + vacancies[t.typeId][1].length }}
                                    <img ng-show="isShowingResource(t, 'laundry', 1)" src="src/img/icons/washing_machine_icon.png" class="showWasher" />
                                    <img ng-show="isShowingResource(t, 'laundry', 2)"src="src/img/icons/dryer_icon.png" class="showWasher" />
                                    </span>
                                </div>
                            </span>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
