Category:{{bookingCategory}} Resource:{{bookingResource}} 
<div ng-show="bookingResource == 'none'">
    <div ng-show="bookingCategory == 'none'">
        <div class="row">
            <div class="col-md-12">
                Select the service, tool or shared space you would like to book
            </div>
        </div>
        <div class="col-md-1">
            <div layout="row" layout-wrap>
                <div flex>
                        <md-button href ng-click="selectBookingResource('laundry')"><img src="src/img/icons/washing_machine_icon.png" class="booking-icons">
                        <div><span>Tvättstuga</span></div>
                    </md-button>
                </div>
                <div flex>
                    <md-button href ng-click="selectBookingCategory('spaces')"><img src="src/img/icons/Shared_Spaces_icon.png" class="booking-icons">
                        <div><span>Platser</span></div>
                    </md-button>
                </div>
                <div flex>
                    <md-button href ng-click="selectBookingCategory('tools')"><img src="src/img/icons/tools_icon.png" class="booking-icons">
                        <div><span>Verktyg</span></div>
                    </md-button>
                </div>
            </div>
        </div>

        <div layout="row" layout-wrap>
            <div flex>
                <md-button href ng-click="selectBookingCategory('services')"><img src="src/img/icons/Services_Icon.png" class="booking-icons">
                    <div><span>Service</span></div>
                </md-button>
            </div>
            <div flex>
                <md-button href ng-click="selectBookingCategory('vehicles')"><img src="src/img/icons/Services_Icon.png" class="booking-icons">
                    <div><span>Fordon</span></div>
                </md-button>
            </div>
            <div flex>
                <md-button href ng-click="selectBookingCategory('others')"><img src="src/img/icons/Services_Icon.png" class="booking-icons">
                    <div><span>Övrigt</span></div>
                </md-button>
            </div>
        </div>
    </div>
    <div ng-show="bookingCategory == 'spaces'">
        <div class="row">
            <div class="col-md-12">
                <a href ng-click="selectBookingCategory('none')">BACK TO MAIN</a><br />
                You have selected spaces, select a category
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('gym')">GYM</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('sauna')">SAUNA</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('workshop')">WORKSHOP</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('barbeque')">BARBEQUE</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('kitchen')">KITCHEN</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('kids')">KIDS PLAYROOM</a>
            </div>
        </div>
    </div>
</div>
<div ng-show="bookingResource != 'none'">
    <div class="row">
        <div class="col-md-12">
            <md-button href ng-click="selectBookingResource('none')" class="md-raised">BACK</md-button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            IMAGES
        </div>
        <div class="col-md-6">
            ITEM NAME & DESCRIPTION
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            ESTABLISH THE PERIOD OF YOUR BOOKING
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span style="display:inline-block; width:100px;">Tid/Dag</span>
            <span data-ng-repeat="d in weekdays" class="day-label">
                {{ d }} {{ weekDates[$index] }}
            </span>
            <div class="cell-row" data-ng-repeat="s in bookingData.slots">
                <div>
                    <span style="display:inline-block; width:100px;" class="hour-label">{{s.name}}</span>
                    <span  class="hour-cell" data-ng-repeat="d in weekdays">
                        <span ng-click="bookUnit($index, s.slotId)">
                            {{ vacancies = getVacancies($index, s.slotId); "" }}
                            <div data-ng-repeat="t in bookingData.unitTypes" class="cell-label">
                                {{ bookingData.bookingFormat(t, vacancies) }}
                            </div>
                        </span>
                    </div>
                </div>
            </table>
        </div>
    </div>
    <div ng-show="isShowingNewBooking()">
        <div>
            Booking {{bookingResource}}
        </div>
        <div>
            {{ weekDates[bookingDayId] }} {{ bookingData.slots[bookingSlotId].name }}                
            <button ng-click="showNewQueue()">Queue</button>
        </div>
        <div data-ng-repeat="t in bookingData.unitTypes">
            <span>{{ t.name }}</span>
            <span data-ng-repeat="u in t.units">
                <span ng-show="isBookable(t, u)">
                    <md-checkbox ng-model="bookingEdit.type[t.typeId][u.unitId]">{{ u.name }}</md-checkbox>
                </span>
            </span>
        </div>
        <div>
            Send reminder via 
            <md-checkbox ng-model="bookingEdit.medium[1]">email</md-checkbox>
            <md-checkbox ng-model="bookingEdit.medium[2]">sms</md-checkbox>
        </div>
        <div>
            <md-checkbox ng-model="bookingEdit.time[4]">10 min</md-checkbox>
            <md-checkbox ng-model="bookingEdit.time[8]">30 min</md-checkbox>
            <md-checkbox ng-model="bookingEdit.time[16]">1 hour</md-checkbox>
            <md-checkbox ng-model="bookingEdit.time[64]">5 hours</md-checkbox>
            <md-checkbox ng-model="bookingEdit.time[256]">1 day</md-checkbox>
            <md-checkbox ng-model="bookingEdit.time[2048]">1 week</md-checkbox>
            BEFORE BOOKING DATE
        </div>
        <div>
            <md-button ng-click="setBooking()" class="md-raised md-primary">Confirm booking</md-button>
        </div>
        <div>
            <md-button ng-click="clearBooking()" class="md-raised md-warn">Delete</md-button>
        </div>
    </div>
    <div ng-show="isShowingNewQueue()">
        <div>
            Waiting list {{bookingResource}}
        </div>
        <div>
            {{ weekDates[bookingDayId] }} {{ bookingData.slots[bookingSlotId].name }}
        </div>
        <div data-ng-repeat="t in bookingData.unitTypes">
            <span>{{ t.name }}</span>
            <span data-ng-repeat="b in queueData.type[t.typeId].queue">
                <span ng-show="b[0] == 1">
                    You are waiting for {{ b[1] }} units.
                </span>
                <span ng-show="b[0] != 1">
                    Someone is waiting for {{ b[1] }} units.
                </span>
            </span>  
            Antal <select ng-model="queueData.type[t.typeId].count" 
                    ng-options="c for c in createNumberArray(queueData.type[t.typeId].max + 1)">
            </select>
        </div>
        <div>
            Alert me via 
            <input type="checkbox" ng-model="queueData.alert[1]"></input> email 
            <input type="checkbox" ng-model="queueData.alert[2]"></input> sms
            if a machine in this turn becomes available
        </div>
        <div>
            <input type="checkbox" ng-model="queueData.autobook"></input> Autobook the available machine for me
        </div>
        <div>
            Send reminder via 
            <input type="checkbox" ng-model="queueData.medium[1]"></input> email 
            <input type="checkbox" ng-model="queueData.medium[2]"></input> sms
        </div>
        <div>
            <input type="checkbox" ng-model="queueData.time[4]"></input> 10 min
            <input type="checkbox" ng-model="queueData.time[8]"></input> 30 min
            <input type="checkbox" ng-model="queueData.time[16]"></input> 1 hour
            <input type="checkbox" ng-model="queueData.time[64]"></input> 5 hours
            <input type="checkbox" ng-model="queueData.time[256]"></input> 1 day
            <input type="checkbox" ng-model="queueData.time[2048]"></input> 1 week
            BEFORE BOOKING DATE
        </div>
        <div>
            <button ng-click="setQueue()">Join waiting list</button>
        </div>
    </div>
</div>



<div>
    Alex
    <hr />
    Sven
</div>




View:{{bookingCategory}} Item:{{bookingResource}} 
<div ng-show="bookingResource == 'none'">
    <div ng-show="bookingCategory == 'none'">
        <div class="row">
            <div class="col-md-12">
                Select the service, tool or shared space you would like to book
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('laundry')">LAUNDRY</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingCategory('spaces')">SPACES</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingCategory('tools')">TOOLS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href ng-click="selectBookingCategory('services')">SERVICES</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingCategory('vehicles')">VEHICLES</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingCategory('others')">OTHERS</a>
            </div>
        </div>
    </div>
    <div ng-show="bookingCategory == 'spaces'">
        <div class="row">
            <div class="col-md-12">
                <a href ng-click="selectBookingCategory('none')">BACK TO MAIN</a><br />
                You have selected spaces, select a category
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('gym')">GYM</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('sauna')">SAUNA</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('workshop')">WORKSHOP</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('barbeque')">BARBEQUE</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('kitchen')">KITCHEN</a>
            </div>
            <div class="col-md-4">
                <a href ng-click="selectBookingResource('kids')">KIDS PLAYROOM</a>
            </div>
        </div>
    </div>
</div>
<div ng-show="bookingResource != 'none'">
    <div class="row">
        <div class="col-md-12">
            <a href ng-click="selectBookingResource('none')">BACK</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            IMAGES
        </div>
        <div class="col-md-6">
            ITEM NAME & DESCRIPTION
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            ESTABLISH THE PERIOD OF YOUR BOOKING
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span style="display:inline-block; width:100px;">Tid/Dag</span>
            <span style="display:inline-block; width:130px;" data-ng-repeat="d in weekdays">
                {{ d }} {{ weekDates[$index] }}
            </span>
            <div data-ng-repeat="s in bookingData.slots">
                <div>
                    <span style="display:inline-block; width:100px;">{{s.name}}</span>
                    <span  style="display:inline-block; width:130px; border-style: double; border-color: green;" data-ng-repeat="d in weekdays">
                        <span ng-click="bookUnit($index, s.slotId)">
                            {{ vacancies = getVacancies($index, s.slotId); "" }}
                            <div data-ng-repeat="t in bookingData.unitTypes">
                                {{ bookingData.bookingFormat(t, vacancies) }}
                            </div>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isShowingNewBooking()">
        <div>
            Booking {{bookingResource}}
        </div>
        <div>
            {{ weekDates[bookingDayId] }} {{ bookingData.slots[bookingSlotId].name }}                
            <button ng-click="showNewQueue()">Queue</button>
        </div>
        <div data-ng-repeat="t in bookingData.unitTypes">
            <span>{{ t.name }}</span>
            <span data-ng-repeat="u in t.units">
                <span ng-show="isBookable(t, u)">
                    <input type="checkbox" ng-model="bookingEdit.type[t.typeId][u.unitId]"></input>{{ u.name }}
                </span>
            </span>
        </div>
        <div>
            Send reminder via 
            <input type="checkbox" ng-model="bookingEdit.medium[1]"></input> email 
            <input type="checkbox" ng-model="bookingEdit.medium[2]"></input> sms
        </div>
        <div>
            <input type="checkbox" ng-model="bookingEdit.time[4]"></input> 10 min
            <input type="checkbox" ng-model="bookingEdit.time[8]"></input> 30 min
            <input type="checkbox" ng-model="bookingEdit.time[16]"></input> 1 hour
            <input type="checkbox" ng-model="bookingEdit.time[64]"></input> 5 hours
            <input type="checkbox" ng-model="bookingEdit.time[256]"></input> 1 day
            <input type="checkbox" ng-model="bookingEdit.time[2048]"></input> 1 week
            BEFORE BOOKING DATE
        </div>
        <div>
            <button ng-click="setBooking()">Confirm booking</button>
        </div>
        <div>
            <button ng-click="clearBooking()">Delete</button>
        </div>
    </div>
    <div ng-show="isShowingNewQueue()">
        <div>
            Waiting list {{bookingResource}}
        </div>
        <div>
            {{ weekDates[bookingDayId] }} {{ bookingData.slots[bookingSlotId].name }}
        </div>
        <div data-ng-repeat="t in bookingData.unitTypes">
            <span>{{ t.name }}</span>
            <span data-ng-repeat="b in queueData.type[t.typeId].queue">
                <span ng-show="b[0] == 1">
                    You are waiting for {{ b[1] }} units.
                </span>
                <span ng-show="b[0] != 1">
                    Someone is waiting for {{ b[1] }} units.
                </span>
            </span>  
            Antal <select ng-model="queueData.type[t.typeId].count" 
                    ng-options="c for c in createNumberArray(queueData.type[t.typeId].max + 1)">
            </select>
        </div>
        <div>
            Alert me via 
            <input type="checkbox" ng-model="queueData.alert[1]"></input> email 
            <input type="checkbox" ng-model="queueData.alert[2]"></input> sms
            if a machine in this turn becomes available
        </div>
        <div>
            <input type="checkbox" ng-model="queueData.autobook"></input> Autobook the available machine for me
        </div>
        <div>
            Send reminder via 
            <input type="checkbox" ng-model="queueData.medium[1]"></input> email 
            <input type="checkbox" ng-model="queueData.medium[2]"></input> sms
        </div>
        <div>
            <input type="checkbox" ng-model="queueData.time[4]"></input> 10 min
            <input type="checkbox" ng-model="queueData.time[8]"></input> 30 min
            <input type="checkbox" ng-model="queueData.time[16]"></input> 1 hour
            <input type="checkbox" ng-model="queueData.time[64]"></input> 5 hours
            <input type="checkbox" ng-model="queueData.time[256]"></input> 1 day
            <input type="checkbox" ng-model="queueData.time[2048]"></input> 1 week
            BEFORE BOOKING DATE
        </div>
        <div>
            <button ng-click="setQueue()">Join waiting list</button>
        </div>
    </div>
</div>
