<div class="jumbotron">
    <h1>Login</h1>
    <md-input-container><label>E-mail:</label><input type="text" ng-model="loginData.email"/><md-input-container><br />
    <md-input-container><label>Password:</label><input type="password" ng-model="loginData.password" /></md-input-container><br />
    <md-button type="button" class="md-raised md-primary" ng-click="login()">Login</md-button>
    {{users.count}}
    <div data-ng-repeat="u in users">
        <a href ng-click="selectUser(u)">{{u.firstName}} {{u.lastName}}</a>
    </div>
</div>

