<div flex>
    <div ng-show="notificationItem == null && !messageData.createMessage">
        <div class="row">
            <div class="col-md-12">
                <h4 class="md-display-1">Your notifications</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 notifications-bar">
                <md-checkbox 
                       ng-model="notificationView.selectAll" 
                       ng-change="changedNotificationSelectAll()" />
                       SELECT ALL
                </md-checkbox>
                <select ng-model="notificationView.mark" 
                        ng-change="changedNotificationMark()"
                        ng-options="mark.name for mark in notificationMarks">
                </select>
                <a href ng-click="deleteNotifications()">DELETE</a>
                <select ng-model="notificationView.view" 
                        ng-change="changedNotificationView()"
                        ng-options="view.name for view in notificationViews">
                </select>
                <a href ng-click="messageData.createMessage = true">CREATE NEW</a>
            </div>
        </div>
        <div class="row" height=400 style="overflow-y:scroll">
            <div data-ng-repeat="n in notifications" class="notification">
                <span ng-show="n.typeId == 1">
                    <span><md-checkbox ng-model="n.isSelected" /></span>
                    <span ng-click="selectNotification(n)">
                        <span>{{n.fromUser.firstName}} {{n.fromUser.lastName}}:</span>
                        <span><b>{{n.subject}}</b></span>
                        <span>{{n.body}}</span>
                        <span>({{n.creationTime}})</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div ng-show="messageData.createMessage">
        <div class="row">
            <div class="col-md-12">
                <md-button href ng-click="messageData.createMessage = false" class="md-raised back-btn">BACK</md-button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Create a message</h4>
                <div>To:
                    <span data-ng-repeat="u in users">
                        <span ng-show="messageData.isRecipient[u.userId] == true">
                            <span>{{u.firstName}} {{u.lastName}}</span>
                        </span>
                    </span>
                    <div ng-show="showRecipients != true">
                        <a href ng-click="showRecipients = true">Select recipients</a>
                    </div>
                    <div ng-show="showRecipients == true">
                        <a href ng-click="showRecipients = false">Hide</a>
                    </div>
                </div>
                <div ng-show="showRecipients == true">
                    <div data-ng-repeat="u in users">
                        <div ng-show="u.userId != user.userId">
                            <md-checkbox ng-model="messageData.isRecipient[u.userId]">{{u.firstName}} {{u.lastName}}</md-checkbox>
                        </div>
                    </div>
                </div>
                <div>Subject: <input type="text" ng-model="messageData.subject"/></div>
                <div>Message</div>
                <div><textarea ng-model="messageData.body"></textarea></div>
                <a href ng-click="sendMessage()">Send</a>
            </div>
        </div>
    </div>
    <div ng-show="notificationItem != null && !messageData.createMessage">
        <div class="row">
            <div class="col-md-12">
                <md-button href ng-click="selectNotificationItem(null)" class="md-raised back-btn">BACK</md-button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <select ng-model="notificationView.mark" 
                        ng-change="changedNotificationMark()"
                        ng-options="mark.name for mark in notificationMarks">
                </select>
                <a href ng-click="selectBookingResource('laundry')">DELETE</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-show="notificationItem.typeId == 1">
                    <div>FROM: {{ notificationItem.fromUser.firstName }} {{notificationItem.fromUser.lastName}}</div>
                    <div>SUBJECT: {{ notificationItem.subject }}</div>
                    <div>BODY: {{ notificationItem.body }}</div>
                    <div>TIME: {{ notificationItem.creationTime }}</div>
                    <div>
                        <br />
                        <md-input-container>
                            <label>Reply text</label>
                            <textarea ng-model="messageData.body" row="10"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <md-button href ng-click="selectNotificationItem(null)" class="md-raised md-warn">Cancel</md-button>
                <md-button href ng-click="sendMessage()" class="md-raised md-primary">Send</md-button>
            </div>
        </div>
    </div>
</div>
