<div class="row">
    <div class="col-md-12">
        <h4 class="md-display-1">Mitt konto</h4>
        <div>
            <a href ng-click="selectProfileView('profile')">Min profil</a>
            <a href ng-click="selectProfileView('notifications')">Aviseringar</a>
            <a href ng-click="selectProfileView('account')">Kontoinställningar</a>
        </div>
    </div>
    <div ng-show="profileView == 'profile'">
        <div>
            <a href="info/share.html" target="_blank">Varför skall jag dela information om mig själv?</a>
        </div>
        <div>
            Du kan välja att dela information med dina grannar eller enbart HSB. När du väljer att den information 
            du delar är offentlig kommer den att synas i din publika profil. Om du väljer att hålla den privat
            kommer bara HSB att ha tillgång till informationen.
        </div>
        <div>
            <h4>Om mig</h4>
            <div>
                <md-input-container>
                    <label>Förnamn</label>
                    <input type="text" ng-model="profileEdit.firstname" required/><br />
                </md-input-container>
            </div>
            
            <div>
                <md-input-container>
                    <label>Efternamn</label>
                    <input type="text" ng-model="profileEdit.lastname" required/><br />
                </md-input-container>
            </div>
            
            <div>
            Födelsedatum<br />
                <md-input-container>
                    <label>Dag</label>
                    <md-select ng-model="profileEdit.day">
                        <md-option ng-value="day" ng-repeat="day in dateDays">{{day}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Månad</label>
                    <md-select ng-model="profileEdit.month">
                        <md-option ng-value="month" ng-repeat="month in dateMonths">{{month}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>År</label>
                    <md-select ng-model="profileEdit.birthYears">
                        <md-option ng-value="year" ng-repeat="year in birthYears">{{year}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div>
                <md-input-container>
                    <label>Sysselsättning</label>
                    <md-select ng-model="profileEdit.occupation">
                        <md-option ng-value="occupation" ng-repeat="occupation in occupations">{{occupation.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            
            <hr/>
            <h4>Kontaktuppgifter</h4>
            <div>
                <md-input-container>
                    <label>Telefonnummer</label>
                    <input type="text" ng-model="profileEdit.phone" required/>
                </md-input-container>
            </div>

            <div>
                <md-input-container>
                    <label>Email</label>
                    <input type="text" ng-model="profileEdit.email" required/>
                </md-input-container>
            </div>
            
            <md-button ng-click="saveProfile()" class="md-raised">Spara</md-button>
        </div>
    </div>
    <div ng-show="profileView == 'notifications'">
        <div>
            Du kan välja vilka händelser som du vill bli notifierad om. Genom att slå på och av aviseringar kan du 
            själv bestämma vad du vill bli uppmärksammad om. 
        </div>
        <table>
            <tr>
                <th>
                    Min lägenhet
                </th>
                <th>
                    SMS
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Via HSB portalen
                </th>
            </tr>
            <tr>
                <td>
                    Rekommendationer för att minska min elkonsumtion
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
            </tr>
            <tr>
                <td>
                    Min elkonsumtion har överstigit <input type="text"> kWh
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
            </tr>
            <tr>
                <th>
                    Bokningar
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <td>
                    Min bokning har bekräftats
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
            </tr>
            <tr>
                <th>
                    Tvättstugan
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <td>
                    Min bokning har bekräftats
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox"/>
                </td>
            </tr>
            <tr>
                <th>
                    Nyheter
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <th>
                    Nya meddelanden i HSB portalen
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </table>
        <div>
        </div>
    </div>
    <div ng-show="profileView == 'account'">
        <div>
            Du kan administrera dina egna kontoinställningar, men även lägga till och administrera andra användarkonton.
        </div>
        <div>
            <a href ng-click="selectAccountView('mine')">Mitt konto</a>
            <a href ng-click="selectAccountView('all')">Alla konton</a>
            <a href ng-click="selectAccountView('new')">Skapa nytt konto</a>
        </div>
<!--        <div ng-show="accountView == 'mine'">-->
            <h4>Allmäna kontoinställningar</h4>
            <div>
            E-post<br />
            <input type="text" ng-model="accountEdit.email"/><br />
            </div>

            <div>
            Telefonnummer<br />
            <input type="text" ng-model="accountEdit.phone"/><br />
            </div>
            
            <div>
            Läsenord<br />
            <input type="text" ng-model="accountEdit.password"/><a href ng-click="changePassword()">Byt lösenord</a><br />
            </div>
            
            <button ng-click="saveAccount()">Spara</button>
<!--        </div>-->
    </div>
</div>

