<div class="row">
    <div class="col-md-12">
        <h4>Support</h4>
        <div>
            <a href ng-click="selectSupportView('questions')">Vanliga frågor</a>
            <a href ng-click="selectSupportView('rules')">Husregler</a>
            <a href ng-click="selectSupportView('washing')">Tvättstugan</a>
            <a href ng-click="selectSupportView('trash')">Sophantering</a>
        </div>
    </div>
    <div ng-show="supportView == 'questions'">
        <div>
            Lägenhetsnummer
        </div>
        <div>
            Bostadsrättsförening
        </div>
        <div>
            Välkomnstbrevet från min inflytt<br />
            <a href='info/letter.pdf' target='_blank'></a>
        </div>
        <div>
            Mitt avtal
        </div>
    </div>
</div>



<div>
    Alex
    <hr />
    Sven
</div>




<div class="row">
    <div class="col-md-12">
        <h4>Support</h4>
        <div>
            <a href ng-click="selectSupportView('questions')">Vanliga frågor</a>
            <a href ng-click="selectSupportView('rules')">Husregler</a>
            <a href ng-click="selectSupportView('washing')">Tvättstugan</a>
            <a href ng-click="selectSupportView('trash')">Sophantering</a>
        </div>
    </div>
    <div ng-show="supportView == 'questions'">
        <div>
            Lägenhetsnummer
        </div>
        <div>
            Bostadsrättsförening
        </div>
        <div>
            Välkomnstbrevet från min inflytt<br />
            <a href='info/letter.pdf' target='_blank'></a>
        </div>
        <div>
            Mitt avtal
        </div>
    </div>
</div>


